{% load static %}
<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Real estate agent">
        <meta name="keywords" content="Property, Rent, Denmark, Student">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static_proj/CSS/real_estate.css" /> 
        <script src="../static_proj/JavaScript/real_estate.js"></script> 
        <title>Real estate agent</title>
    </head>
    
    <body>
        <nav class="menu" id="menu">
            <ul>  
                <li>  
                    <a href="#"> Home </a>  
                </li>
            </ul>  
        </nav>
    </body>
    
</html>